name: CI-CD Pipeline - Vidly App

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Start Services (CI)
        run: |
          docker compose build
          docker compose up -d
      - name: Tag and Push to Specific Repo
        # This tags your images to match your Docker Hub URL
        run: |
          docker tag cloud-programming-frontend:latest nguinfack/devops-app:frontend
          docker tag cloud-programming-backend:latest nguinfack/devops-app:backend
          docker push nguinfack/devops-app:frontend
          docker push nguinfack/devops-app:backend

      - name: Shut down stack
        if: always()
        run: docker compose down
